extends layout 

block layout-content 
    section#products 
        h2 Featured products
        .product 
            //- source of image : https://www.ortery.com/industries-using-ortery/ecommerce-photography/?network=g&campaignid=17868872335&adgroupid=144662087172&extensionid=&device=c&creative=641572296663&keyword=ecommerce%20product%20photos&matchtype=e&target=&target=&placement=&placement=&productid=&utm_term=ecommerce%20product%20photos&utm_campaign=CF+-+Search+-+Product+Photography&utm_source=adwords&utm_medium=ppc&hsa_acc=3376115070&hsa_cam=17868872335&hsa_grp=144662087172&hsa_ad=641572296663&hsa_src=g&hsa_tgt=kwd-550987430832&hsa_kw=ecommerce%20product%20photos&hsa_mt=e&hsa_net=adwords&hsa_ver=3&gad_source=1&gclid=Cj0KCQjwgJyyBhCGARIsAK8LVLP6hwpc1Hx706-2nFzR_EkB15Q0nN8Wqly1DQwLVs4gA1vcQCh2pRIaAhB2EALw_wcB
            img(src="/images/chair.png" alt="chair")
            h3 Chair 
            p $19.99
        .product 
            //- https://www.ortery.com/industries-using-ortery/ecommerce-photography/?network=g&campaignid=17868872335&adgroupid=144662087172&extensionid=&device=c&creative=641572296663&keyword=ecommerce%20product%20photos&matchtype=e&target=&target=&placement=&placement=&productid=&utm_term=ecommerce%20product%20photos&utm_campaign=CF+-+Search+-+Product+Photography&utm_source=adwords&utm_medium=ppc&hsa_acc=3376115070&hsa_cam=17868872335&hsa_grp=144662087172&hsa_ad=641572296663&hsa_src=g&hsa_tgt=kwd-550987430832&hsa_kw=ecommerce%20product%20photos&hsa_mt=e&hsa_net=adwords&hsa_ver=3&gad_source=1&gclid=Cj0KCQjwgJyyBhCGARIsAK8LVLP6hwpc1Hx706-2nFzR_EkB15Q0nN8Wqly1DQwLVs4gA1vcQCh2pRIaAhB2EALw_wcB
            img(src="/images/console.png" alt="console")
            h3 X-box Controller 
            p $20.99
        .product 
            //- https://www.ortery.com/industries-using-ortery/ecommerce-photography/?network=g&campaignid=17868872335&adgroupid=144662087172&extensionid=&device=c&creative=641572296663&keyword=ecommerce%20product%20photos&matchtype=e&target=&target=&placement=&placement=&productid=&utm_term=ecommerce%20product%20photos&utm_campaign=CF+-+Search+-+Product+Photography&utm_source=adwords&utm_medium=ppc&hsa_acc=3376115070&hsa_cam=17868872335&hsa_grp=144662087172&hsa_ad=641572296663&hsa_src=g&hsa_tgt=kwd-550987430832&hsa_kw=ecommerce%20product%20photos&hsa_mt=e&hsa_net=adwords&hsa_ver=3&gad_source=1&gclid=Cj0KCQjwgJyyBhCGARIsAK8LVLP6hwpc1Hx706-2nFzR_EkB15Q0nN8Wqly1DQwLVs4gA1vcQCh2pRIaAhB2EALw_wcB
            img(src="/images/robot.png" alt="robot")
            h3 Robot
            p $2.65 
