doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{title} |Random site
        //Static file folder are treated like a root folder
        link(rel="stylesheet", href="/css/style.css")
    body
        header#header 
            h2#site-name 
                a(href='/') Random site 
        main#main 
        block layout-content
        footer#footer 
            div &copyright HTTP5222, 2024.