.hero {
    background-image: url('https://t3.ftcdn.net/jpg/05/73/51/48/360_F_573514898_spiDXJ20fWq3AHhCLgFplmyhkxRzsmbH.jpg');
    background-size: cover;
    color: white;
    text-align: center;
    padding: 100px 20px;
  }
  
  .hero-content {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  .hero p {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .hero button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .hero button:hover {
    background-color: #0056b3;
  }
  