extends layout

block layout-content
    section#about
        h2 About Us

        img(src="/images/group.jpg" alt="Our Team" class="about-image")
        
        p
            | Welcome to E-shop, your premier destination for discovering unique and high-quality products. At E-shop, we're passionate about bringing you an exceptional shopping experience, focusing on dependability, excellent customer service, and uniqueness in every item we offer.
        p
            | Founded in 2024 by Ali Qasim Khundmiri, E-shop started as a small home-based venture driven by a dream to revolutionize online shopping. With a background in retail and a keen eye for detail, Ali embarked on a journey to create an e-commerce platform that stands out in the crowded market. His vision was to offer a curated selection of products that not only meet but exceed customer expectations.
        p
            | Our journey began with extensive research and a deep understanding of customer needs. Ali's passion for providing top-notch products inspired him to leave his day job and invest wholeheartedly in building E-shop. From the very beginning, the goal was clear: to turn inspiration and hard work into a thriving online store that customers love and trust.
        p
            | Over the years, E-shop has grown exponentially. We now serve a diverse and global clientele, bringing joy and satisfaction to customers from all corners of the world. Our commitment to quality, sustainability, and ethical practices sets us apart. We take pride in offering eco-friendly and fair-trade products that not only enhance your lifestyle but also contribute positively to the environment.
        p
            | At E-shop, customer satisfaction is at the heart of everything we do. Our dedicated team works tirelessly to ensure that every shopping experience is seamless and enjoyable. From the moment you visit our site to the delivery of your purchase, we strive to exceed your expectations at every step.
        p
            | We believe in the power of community and continuously seek ways to give back. Whether it's through supporting local artisans or participating in environmental initiatives, we are committed to making a difference.
        p
            | Thank you for choosing E-shop. We are excited to have you as part of our growing family and look forward to serving you with the best products and services. If you have any questions, suggestions, or just want to say hello, feel free to reach out to us. Your feedback and support are invaluable to us.
        p
            | Warm regards,
        p
            | Ali Qasim Khundmiri, Founder & CEO

