doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{title} | E-commerce site
        link(rel="stylesheet", href="/css/style.css")
    body
        header#header
         h1 Welcome to E-shop
           nav
               ul
                   li: a(href="/") Home
                   li: a(href="/products") Products
                   li: a(href="/about") About Us
        main#main
            block layout-content
        footer#footer
            div &copy; Copyright made with &#9829 by Ali Qasim Khundmiri
