extends layout

block layout-content
    section#products
        h2 Product Details
        .product
            img(src="/images/chair.png" alt="chair")
            h3 Chair
            p $19.99
            p A comfortable and stylish chair perfect for your home or office. Made with high-quality materials to ensure durability and comfort. Available in multiple colors. This chair is designed to provide ergonomic support, making it ideal for long hours of sitting whether you're working, gaming, or just relaxing.
